
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url('https://fonts.googleapis.com/css?family=Quicksand');



  

  
  
ul {
    padding: 0;
    z-index: 99;
    position: fixed!important;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    li {
      a {
        display: block;
        margin-left: -2px;
        height: 60px;
        width: 60px;
        border-radius: 0 25px 25px 0;
        border: 2px solid #000;
        background: #FFF;
        margin-bottom: 1em;
        transition: all .4s ease;
        color: #2980b9;
        text-decoration: none;
        line-height: 60px;
        position: relative;
        &:hover {
          cursor: pointer;
          width: 180px;
          color: #fff;
          span {
            left: 0;
          }
        }
        span {
          padding: 0 30px 0 15px;
          position: absolute;
          left: -120px;
          transition: left .4s ease;
        }
        svg {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          font-size: 1.5em;
        }
      }
      .facebook {
        background: rgba(#405ea7, .1);
        border-color: #405ea7;
        color: #405ea7;
        &:hover {
          background: rgba(#405ea7, 1);
        }
      }
      .soundcloud {
        background: rgba(#e67e22, .1);
        border-color: #e67e22;
        color: #e67e22;
        &:hover {
          background: rgba(#e67e22, 1);
        }
      }
      .skype {
        background: rgba(#22A7F0, .1);
        border-color: #22A7F0;
        color: #22A7F0;
        &:hover {
          background: rgba(#22A7F0, 1);
        }
      }
      .dribbble {
        background: rgba(#D2527F, .1);
        border-color: #D2527F;
        color: #D2527F;
        &:hover {
          background: rgba(#D2527F, 1);
        }
      }
    }
  }




.cerrar{
    position: absolute;
 
    right: 20px;
    top: 2%;
}




.main{
    background: black;
}

@keyframes animate{
     0%{
         transform: scale(1)
     }
     50%{
         transform: scale(1.5)
     }
     100%{
         transform: scale(1)
     }
}

.principal{
    background-image: url('/assets/landing/imgs/front.png');
    background-repeat: no-repeat;
    background-size: cover;
    // animation: animate 40s linear infinite;
    width: 100%;
    height: 85vh;

}

.header{
    position: relative;
    bottom: 19px;
    margin: 0 auto;
        width: 380px; 
        background: #ffffff;
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -ms-transform: skew(20deg);
        -o-transform: skew(20deg);
        transform: skew(20deg);
   
}

.copy{
    position: relative;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.trapecio-1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    /* padding-left: 20%; */
    width: 1630px;
    background: linear-gradient(50deg, transparent 50%, black 50%);
       
}
.trapecio-2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    /* padding-left: 20%; */
    width: 860px;
    background: linear-gradient(50deg, transparent 50%, black 50%);
       
}

.texto-1{
    margin-bottom: 26px;
    transform: skew(0);
}


.texto-1 h1 {
    transform: skew(0);
    color: white;
    text-align: right;
    padding: 10px 20px;
}
.texto-2 h3{
    transform: skew(0);
    color: white;
    font-size: 2.5rem;
    text-align: right;
    padding: 10px 20px;

}

.header img {

    transform: skew(-20deg);
}

.col-md-2 {
    margin-bottom: 320px;
}

.secondary h3{
    text-align: center;
    color: white;
    font-size: 2.5em;
    margin: 30px 0;
}

.tarjetas div {
    color: white;
    max-height: 245px;
    /* border: 1px solid white; */
}
.tarjetas div img {
    width: 100%;
}

.difuminado{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 105%;
    height: 90px;
    background: #000000b0;
    width: 88%;
}

.difuminado h2 {
        font-size: 1rem;
        text-align: center;
}



.whatsapp {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 0;
    right: 0;
    z-index: 99;
    margin-right: 20px;
    margin-bottom: 20px;
}
.whatsapp img{
 
    width: 70px;
  
}

.wp-modal{
    width: 450px;
    background: #f5c746;
    border-radius: 20px;
    margin-bottom: 15px;
}

.wp-modal p{
        color: white;
}

.comercial-img{
    position: absolute;
    top: -43px;
    left: -22px;
    border: 5px solid #fffffffc;
    border-radius: 50px;
    height: px;
    width: 80px;
    height: 80px;
    background: #494038;
}

.seccion-1{
    padding: 18px 14%;
}

.seccion-2{
    height: 52px;
    background: white;
    border-radius: 0px 2px 22px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-2 input {
    border-color: transparent;
    width: 90%;
}

input:focus{
    border: none;
    outline:0px;
}

.add{
    display: none;
    
}
.remove{
    display: inline-block;
}

/* RESPONSIVE */
/* CELULARES */




  /* //PANTALLAS GRANDES */
  @media (min-width: 1300px) {
    .container {
      max-width: 1500px !important;
    }
    .card {
      max-height: 400px !important;
      min-height: 400px !important;
    }
    ::ng-deep .ngucarousel-items {
      height: 450px;
    }
    .card-text {
      font-size: 0.9em;
    }
  
    .card-title[_ngcontent-c1] {
      font-size: 1rem;
    }
    .container {
      justify-content: space-around;
    }
  
    ul li {
      max-height: 82px;
    }
  
    ul {
      font-size: 1em;
    }

 

   
  }
  
  @media (min-width: 1600px) {
    .card {
      max-height: 410px !important;
      min-height: 410px !important;
    }
  }
  
  @media (min-width: 1600px) {
    .card {
      max-height: 410px !important;
      min-height: 410px !important;
    }
    ul {
      font-size: 1.3em !important;
    }
  
    .imagen-derecha {
      width: 83%;
    }
  }

  




  /* RESPONSIVE */
/* CELULARES */
@media screen and (max-width: 576px) {

    .whatsapp img {
        width: 67px!important;
    }

    .header {
     
        width: inherit;
    }
    
    .wp-modal {
        width: 95%;
     }

     .comercial-img {
        left: 10px!important;
     }

    .texto-1{
        padding: 10px 21px 0px 55px;
}

.seccion-1 {
    padding: 18px 21%!important;
}

.principal {
  background-position-x: -370px;
}

.whatsapp img{
    width: 50px;
}


.difuminado{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 166%;
    height: 140px;
    background: #000000b0;
    width: 92%;
}

    .principal{
        background-position-x: 0;
        height: 636px;
    }
 
    .header , .header img{
        
        -webkit-transform: inherit; 
         transform: inherit;
    }
    h1, h3 {
        font-size: 1.7rem!important;
    }

    .texto-1 h1 {
        padding: 10px 0px 0 55px;
    }
    .trapecio-1 {
        width: inherit;
        background: linear-gradient(50deg, transparent 25%, black 10%);

    }

    .copy {
        top: 43%;
    
     }

    .trapecio-2 {
        width: inherit;
        
    background: linear-gradient(50deg, transparent 16%, black 10%);
   
    }

    .texto-2 h3 {
        padding-left: 50px;
        font-size: 2rem;
    }

   
}
  /* //PANTALLAS GRANDES */
  @media (min-width: 1300px) {
   
  }
  
  @media (min-width: 1600px) {
   
  }
  
  @media (min-width: 1600px) {
   
  }
  